* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
}

h2, h3 {
  color: #106db3;
}

blockquote {
  color: #106db3;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.Comments {
  display: inline-block;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
}

.Comments a {
  background-color: gray;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.Comments img {
  position: relative;
  top: 12px;
}

#comment:hover {
  opacity: 0.5;
}

#read:hover {
  opacity: 0.5;
}

#share:hover {
  opacity: 0.5;
}

footer {
  background-color: #083452;
  color: #687A97;
  padding: 0px 10px;
  border-radius: 0px 0px 15px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  position: relative;
  bottom: 25px;
}

#social a {
  color: lightgray;
  text-decoration: none;
}

p {
  color: gray;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: black;
  text-align: center;
  font-size: .8em;
  opacity: 0.5;
  position: relative;
  bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

h5 {
  color: #08224A;
}

.heading3 h2 {
  color:#08224A;
  margin: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.logo {
  display: inline-block;
  position: relative;
  left: 50px;
}

#search {
  display: inline-block;
  width: 50%;
}

#seperating-border {
  border-top: 1px solid lightgray;
  padding-top: 20px;
}

#wrap1 {
  width: 1000px;
  margin: auto;
}

#wrap2 {
  display: inline-block;
  width: 60%;
  position: relative;
  bottom: 140px;
}

#wrap3 {
  display: inline-block;
  width: 35%;
}

body {
  box-sizing: border-box;
}

.icon {
  display:inline-block;
  width: 64px;
  height: 64px;
}

.outer {
  height: 400px;
  width: auto;
  background-image: url(images/header.jpg);
  border-radius: 15px 15px 0 0;
}

#inner1 {
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  left: 50px;
  opacity: 0.8;
}

#inner1-text {
  position: relative;
  left: 60px;
  bottom: 55px;
}

#inner2 {
  display: inline-block;
  float: right;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  right: 80px;
  opacity: 0.8;
}

#inner2 img {
position: relative;
right: -130px;
bottom: 40px;
}

#inner3 {
  display: inline-block;
  position: relative;
  top: 140px;
  bottom: 100px;
  left: 55px;
    /* right: 130px; */
  color: white
}

h1 {
  font-size: 4em;
  font-family: 'Open Sans', sans-serif;
}

#strong-headline {
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

.left-side {
  position: relative;
  top: 90px;
}

#avatar img {
  position: relative;
  top: 10px;
}

#avatar {
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
}

#Name1 {
  color: #106db3;
}

#comment1 {
  background-color: gray;
}

h2 {
  text-align: center;
}

#avatar1 {
  position: relative;
  left: 75px;
}

.image-bar {
  display: flex;
  margin-left: -45px;
  margin-right: 26px;
}

.images {
  float: left;
  opacity: 0.7;
  padding: 0px;
  width: 22.5%;

}

.images:hover {
  opacity: 1;
}

.logo-links {
  display: inline-block;
}

.logo-links a {
  position: relative;
  left: 750px;
  bottom: 30px;
  color: #687A97;
  text-decoration: none;
  display: inline-block;
  padding: 0;
}
